@charset "UTF-8";

/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea {
  font-size: 100%;
  vertical-align: middle;
}

img {
  border-style: none;
  display: block;
}

hr {
  display: none;
}

em {
  font-style: normal
}

input {
  line-height: auto;
  vertical-align: middle;
}

strong.more {
  color: #c30
}

a {
  text-decoration: none;
}


body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'MS Ｐゴシック', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*header*/

.header_nav {
    display: flex;
    justify-content: space-around;
    height: 45px;
    padding-top: 10px;
    padding-left: 40px;
    width: 100%;
    background-color: #fffacd;
    position: fixed;
    z-index: 1;
  }

  .header_nav li {
    font-size: 18px;
    color: #fff;
  }

/*main*/

main {
  background: linear-gradient(to right, #3cb371, #fff);
  opacity: 0.9;
}

.list_wrapper {
  width: 80%;
  position: absolute;
  top: 40px;
  left: 150px;

}

.list_wrapper h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-top: 60px;
}

.list_box {
  width: 60%;
  margin: 30px auto;
  padding: 0 0 10px 50px;
  border-bottom: 1px solid #808080;
}

.list_title h2 {
  margin-right: 120px;
}

.list_menu img {
  margin-right: 120px;
}

.list_title {
  display: flex;
}

.list_menu {
  display: flex;
}

.list_box img {
  width: 60px;
  height: 50px;
}

.box {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.box img {
    width: 30%;
    height: 250px;
}

.text {
  width: 30%;
  padding-right: 100px;
}

.text h2 {
    font-size: 20px;
    margin-top: 30px;
}

.text h3 {
    margin-bottom: 20px;
}


/*footer*/

  .footer_wrapper {
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: #fffacd;
    height: 300px;
  }

  .footer_box {
    padding-top: 100px;
  }

  .footer_box li {
    color: #696969;
  }

/*フェード処理*/
.fade-up {
  opacity: 0;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up.active {
  animation-name: fade-up;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

/*Top Page*/

.jump {
  display: flex;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 122px;
  height: 47px;
  padding: 0px 10px;
  background-color: #000;
  font-size: 15.4px;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.jump a {
  color: #fff;
  padding-left: 15px;
}
